@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("CountCountry");
    </div>
    <div class="col-md-3">
        @await Component.InvokeAsync("CountCity");
    </div>
    <div class="col-md-3">
        @await Component.InvokeAsync("CountState");
    </div>
</div>
