@model int
<div style="height:120px; width:220px; background-color:blueviolet; color:whitesmoke">
    <h2>Countries: </h2>
    <h2 class="d-flex justify-content-center align-items-center">@Model</h2>
</div>