@model ThreeTierArch.UI.ViewModels.Student.StudentCreateVm

@{
    ViewData["Title"] = "Create";
}

<h1>Create Student</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhysicalAddress.AddressLine1" class="control-label"></label>
                <input asp-for="PhysicalAddress.AddressLine1" class="form-control" />
                <span asp-validation-for="PhysicalAddress.AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhysicalAddress.AddressLine2" class="control-label"></label>
                <input asp-for="PhysicalAddress.AddressLine2" class="form-control" />
                <span asp-validation-for="PhysicalAddress.AddressLine2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhysicalAddress.Pincode" class="control-label"></label>
                <input asp-for="PhysicalAddress.Pincode" class="form-control" />
                <span asp-validation-for="PhysicalAddress.Pincode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Student Skills</label>
                <div class="row">
                    @for (int i = 0; i < Model.Skills.Count(); i++)
                    {
                        <div class="col-md-6">
                            <input type="hidden" asp-for="@Model.Skills[i].SkillId" />
                            <input asp-for="@Model.Skills[i].IsChecked" />
                            @Model.Skills[i].SkillName
                        </div>
                        @if((i+1)%2 == 0)
                        {
                            @:</div><div class="row">
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

